=begin
#The Selling Partner API for FBA inbound operations.

#The Selling Partner API for Fulfillment By Amazon (FBA) Inbound. The FBA Inbound API enables building inbound workflows to create, manage, and send shipments into Amazon's fulfillment network. The API has interoperability with the Send-to-Amazon user interface.

OpenAPI spec version: 2024-03-20

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module AmzSpApi::FulfillmentInbound20240320
  class FbaInboundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [CancelInboundPlanResponse]
    def cancel_inbound_plan(inbound_plan_id, opts = {})
      data, _status_code, _headers = cancel_inbound_plan_with_http_info(inbound_plan_id, opts)
      data
    end

    # Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelInboundPlanResponse, Integer, Hash)>] CancelInboundPlanResponse data, response status code and response headers
    def cancel_inbound_plan_with_http_info(inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.cancel_inbound_plan ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.cancel_inbound_plan"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'CancelInboundPlanResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#cancel_inbound_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancels a self-ship appointment slot against a shipment. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param body The body of the request to &#x60;cancelSelfShipAppointment&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [CancelSelfShipAppointmentResponse]
    def cancel_self_ship_appointment(body, inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = cancel_self_ship_appointment_with_http_info(body, inbound_plan_id, shipment_id, opts)
      data
    end

    # Cancels a self-ship appointment slot against a shipment. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param body The body of the request to &#x60;cancelSelfShipAppointment&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelSelfShipAppointmentResponse, Integer, Hash)>] CancelSelfShipAppointmentResponse data, response status code and response headers
    def cancel_self_ship_appointment_with_http_info(body, inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.cancel_self_ship_appointment ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.cancel_self_ship_appointment"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.cancel_self_ship_appointment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.cancel_self_ship_appointment"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentCancellation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'CancelSelfShipAppointmentResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#cancel_self_ship_appointment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirms the delivery window option for chosen shipment within an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new delivery window options cannot be generated, but the chosen delivery window option can be updated before shipment closure. The window is used to provide the expected time when a shipment will arrive at the warehouse. All transportation options which have the program `CONFIRMED_DELIVERY_WINDOW` require a delivery window to be confirmed prior to transportation option confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id The shipment to confirm the delivery window option for.
    # @param delivery_window_option_id The id of the delivery window option to be confirmed.
    # @param [Hash] opts the optional parameters
    # @return [ConfirmDeliveryWindowOptionsResponse]
    def confirm_delivery_window_options(inbound_plan_id, shipment_id, delivery_window_option_id, opts = {})
      data, _status_code, _headers = confirm_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, delivery_window_option_id, opts)
      data
    end

    # Confirms the delivery window option for chosen shipment within an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new delivery window options cannot be generated, but the chosen delivery window option can be updated before shipment closure. The window is used to provide the expected time when a shipment will arrive at the warehouse. All transportation options which have the program &#x60;CONFIRMED_DELIVERY_WINDOW&#x60; require a delivery window to be confirmed prior to transportation option confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id The shipment to confirm the delivery window option for.
    # @param delivery_window_option_id The id of the delivery window option to be confirmed.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmDeliveryWindowOptionsResponse, Integer, Hash)>] ConfirmDeliveryWindowOptionsResponse data, response status code and response headers
    def confirm_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, delivery_window_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.confirm_delivery_window_options ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.confirm_delivery_window_options"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.confirm_delivery_window_options"
      end
      # verify the required parameter 'delivery_window_option_id' is set
      if @api_client.config.client_side_validation && delivery_window_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_window_option_id' when calling FbaInboundApi.confirm_delivery_window_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions/{deliveryWindowOptionId}/confirmation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s).sub('{' + 'deliveryWindowOptionId' + '}', delivery_window_option_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ConfirmDeliveryWindowOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#confirm_delivery_window_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirms the packing option for an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param packing_option_id Identifier of a packing option.
    # @param [Hash] opts the optional parameters
    # @return [ConfirmPackingOptionResponse]
    def confirm_packing_option(inbound_plan_id, packing_option_id, opts = {})
      data, _status_code, _headers = confirm_packing_option_with_http_info(inbound_plan_id, packing_option_id, opts)
      data
    end

    # Confirms the packing option for an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param packing_option_id Identifier of a packing option.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmPackingOptionResponse, Integer, Hash)>] ConfirmPackingOptionResponse data, response status code and response headers
    def confirm_packing_option_with_http_info(inbound_plan_id, packing_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.confirm_packing_option ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.confirm_packing_option"
      end
      # verify the required parameter 'packing_option_id' is set
      if @api_client.config.client_side_validation && packing_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_option_id' when calling FbaInboundApi.confirm_packing_option"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions/{packingOptionId}/confirmation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'packingOptionId' + '}', packing_option_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ConfirmPackingOptionResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#confirm_packing_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirms the placement option for an inbound plan. Once confirmed, it cannot be changed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs.
    # @param [Hash] opts the optional parameters
    # @return [ConfirmPlacementOptionResponse]
    def confirm_placement_option(inbound_plan_id, placement_option_id, opts = {})
      data, _status_code, _headers = confirm_placement_option_with_http_info(inbound_plan_id, placement_option_id, opts)
      data
    end

    # Confirms the placement option for an inbound plan. Once confirmed, it cannot be changed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param placement_option_id The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmPlacementOptionResponse, Integer, Hash)>] ConfirmPlacementOptionResponse data, response status code and response headers
    def confirm_placement_option_with_http_info(inbound_plan_id, placement_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.confirm_placement_option ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.confirm_placement_option"
      end
      # verify the required parameter 'placement_option_id' is set
      if @api_client.config.client_side_validation && placement_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'placement_option_id' when calling FbaInboundApi.confirm_placement_option"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions/{placementOptionId}/confirmation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'placementOptionId' + '}', placement_option_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ConfirmPlacementOptionResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#confirm_placement_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirm a shipment content update preview and accept the changes in transportation cost.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param content_update_preview_id Identifier of a content update preview.
    # @param [Hash] opts the optional parameters
    # @return [ConfirmShipmentContentUpdatePreviewResponse]
    def confirm_shipment_content_update_preview(inbound_plan_id, shipment_id, content_update_preview_id, opts = {})
      data, _status_code, _headers = confirm_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, opts)
      data
    end

    # Confirm a shipment content update preview and accept the changes in transportation cost.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param content_update_preview_id Identifier of a content update preview.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmShipmentContentUpdatePreviewResponse, Integer, Hash)>] ConfirmShipmentContentUpdatePreviewResponse data, response status code and response headers
    def confirm_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.confirm_shipment_content_update_preview ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.confirm_shipment_content_update_preview"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.confirm_shipment_content_update_preview"
      end
      # verify the required parameter 'content_update_preview_id' is set
      if @api_client.config.client_side_validation && content_update_preview_id.nil?
        fail ArgumentError, "Missing the required parameter 'content_update_preview_id' when calling FbaInboundApi.confirm_shipment_content_update_preview"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews/{contentUpdatePreviewId}/confirmation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s).sub('{' + 'contentUpdatePreviewId' + '}', content_update_preview_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ConfirmShipmentContentUpdatePreviewResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#confirm_shipment_content_update_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Confirms all the transportation options for an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new transportation options can not be generated or confirmed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;confirmTransportationOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [ConfirmTransportationOptionsResponse]
    def confirm_transportation_options(body, inbound_plan_id, opts = {})
      data, _status_code, _headers = confirm_transportation_options_with_http_info(body, inbound_plan_id, opts)
      data
    end

    # Confirms all the transportation options for an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new transportation options can not be generated or confirmed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;confirmTransportationOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmTransportationOptionsResponse, Integer, Hash)>] ConfirmTransportationOptionsResponse data, response status code and response headers
    def confirm_transportation_options_with_http_info(body, inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.confirm_transportation_options ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.confirm_transportation_options"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.confirm_transportation_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/transportationOptions/confirmation'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ConfirmTransportationOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#confirm_transportation_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon's fufillment network.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;createInboundPlan&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [CreateInboundPlanResponse]
    def create_inbound_plan(body, opts = {})
      data, _status_code, _headers = create_inbound_plan_with_http_info(body, opts)
      data
    end

    # Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon&#x27;s fufillment network.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;createInboundPlan&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInboundPlanResponse, Integer, Hash)>] CreateInboundPlanResponse data, response status code and response headers
    def create_inbound_plan_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.create_inbound_plan ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.create_inbound_plan"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'CreateInboundPlanResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#create_inbound_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # For a given marketplace - creates labels for a list of MSKUs.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;createMarketplaceItemLabels&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [CreateMarketplaceItemLabelsResponse]
    def create_marketplace_item_labels(body, opts = {})
      data, _status_code, _headers = create_marketplace_item_labels_with_http_info(body, opts)
      data
    end

    # For a given marketplace - creates labels for a list of MSKUs.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;createMarketplaceItemLabels&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateMarketplaceItemLabelsResponse, Integer, Hash)>] CreateMarketplaceItemLabelsResponse data, response status code and response headers
    def create_marketplace_item_labels_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.create_marketplace_item_labels ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.create_marketplace_item_labels"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/items/labels'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'CreateMarketplaceItemLabelsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#create_marketplace_item_labels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generates available delivery window options for a given shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id The shipment to generate delivery window options for.
    # @param [Hash] opts the optional parameters
    # @return [GenerateDeliveryWindowOptionsResponse]
    def generate_delivery_window_options(inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = generate_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, opts)
      data
    end

    # Generates available delivery window options for a given shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id The shipment to generate delivery window options for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateDeliveryWindowOptionsResponse, Integer, Hash)>] GenerateDeliveryWindowOptionsResponse data, response status code and response headers
    def generate_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_delivery_window_options ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_delivery_window_options"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.generate_delivery_window_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GenerateDeliveryWindowOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_delivery_window_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generates available packing options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [GeneratePackingOptionsResponse]
    def generate_packing_options(inbound_plan_id, opts = {})
      data, _status_code, _headers = generate_packing_options_with_http_info(inbound_plan_id, opts)
      data
    end

    # Generates available packing options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeneratePackingOptionsResponse, Integer, Hash)>] GeneratePackingOptionsResponse data, response status code and response headers
    def generate_packing_options_with_http_info(inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_packing_options ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_packing_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GeneratePackingOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_packing_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generates placement options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generatePlacementOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [GeneratePlacementOptionsResponse]
    def generate_placement_options(body, inbound_plan_id, opts = {})
      data, _status_code, _headers = generate_placement_options_with_http_info(body, inbound_plan_id, opts)
      data
    end

    # Generates placement options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generatePlacementOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeneratePlacementOptionsResponse, Integer, Hash)>] GeneratePlacementOptionsResponse data, response status code and response headers
    def generate_placement_options_with_http_info(body, inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_placement_options ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.generate_placement_options"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_placement_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GeneratePlacementOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_placement_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Initiates the process of generating the appointment slots list. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [GenerateSelfShipAppointmentSlotsResponse]
    def generate_self_ship_appointment_slots(body, inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = generate_self_ship_appointment_slots_with_http_info(body, inbound_plan_id, shipment_id, opts)
      data
    end

    # Initiates the process of generating the appointment slots list. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param body The body of the request to &#x60;generateSelfShipAppointmentSlots&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateSelfShipAppointmentSlotsResponse, Integer, Hash)>] GenerateSelfShipAppointmentSlotsResponse data, response status code and response headers
    def generate_self_ship_appointment_slots_with_http_info(body, inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_self_ship_appointment_slots ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.generate_self_ship_appointment_slots"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_self_ship_appointment_slots"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.generate_self_ship_appointment_slots"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentSlots'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenerateSelfShipAppointmentSlotsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_self_ship_appointment_slots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate a shipment content update preview given a set of intended boxes and/or items for a shipment with a confirmed carrier. The shipment content update preview will be viewable with the updated costs and contents prior to confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [GenerateShipmentContentUpdatePreviewsResponse]
    def generate_shipment_content_update_previews(body, inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = generate_shipment_content_update_previews_with_http_info(body, inbound_plan_id, shipment_id, opts)
      data
    end

    # Generate a shipment content update preview given a set of intended boxes and/or items for a shipment with a confirmed carrier. The shipment content update preview will be viewable with the updated costs and contents prior to confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generateShipmentContentUpdatePreviews&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateShipmentContentUpdatePreviewsResponse, Integer, Hash)>] GenerateShipmentContentUpdatePreviewsResponse data, response status code and response headers
    def generate_shipment_content_update_previews_with_http_info(body, inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_shipment_content_update_previews ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.generate_shipment_content_update_previews"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_shipment_content_update_previews"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.generate_shipment_content_update_previews"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenerateShipmentContentUpdatePreviewsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_shipment_content_update_previews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generates available transportation options for a given placement option.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generateTransportationOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [GenerateTransportationOptionsResponse]
    def generate_transportation_options(body, inbound_plan_id, opts = {})
      data, _status_code, _headers = generate_transportation_options_with_http_info(body, inbound_plan_id, opts)
      data
    end

    # Generates available transportation options for a given placement option.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param body The body of the request to &#x60;generateTransportationOptions&#x60;.
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateTransportationOptionsResponse, Integer, Hash)>] GenerateTransportationOptionsResponse data, response status code and response headers
    def generate_transportation_options_with_http_info(body, inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.generate_transportation_options ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling FbaInboundApi.generate_transportation_options"
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.generate_transportation_options"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/transportationOptions'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenerateTransportationOptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#generate_transportation_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Provide delivery challan document for PCP transportation in IN marketplace.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [GetDeliveryChallanDocumentResponse]
    def get_delivery_challan_document(inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = get_delivery_challan_document_with_http_info(inbound_plan_id, shipment_id, opts)
      data
    end

    # Provide delivery challan document for PCP transportation in IN marketplace.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDeliveryChallanDocumentResponse, Integer, Hash)>] GetDeliveryChallanDocumentResponse data, response status code and response headers
    def get_delivery_challan_document_with_http_info(inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_delivery_challan_document ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.get_delivery_challan_document"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.get_delivery_challan_document"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryChallanDocument'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GetDeliveryChallanDocumentResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_delivery_challan_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets the status of the processing of an asynchronous API call.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param operation_id Identifier of an asynchronous operation.
    # @param [Hash] opts the optional parameters
    # @return [InboundOperationStatus]
    def get_inbound_operation_status(operation_id, opts = {})
      data, _status_code, _headers = get_inbound_operation_status_with_http_info(operation_id, opts)
      data
    end

    # Gets the status of the processing of an asynchronous API call.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param operation_id Identifier of an asynchronous operation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InboundOperationStatus, Integer, Hash)>] InboundOperationStatus data, response status code and response headers
    def get_inbound_operation_status_with_http_info(operation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_inbound_operation_status ...'
      end
      # verify the required parameter 'operation_id' is set
      if @api_client.config.client_side_validation && operation_id.nil?
        fail ArgumentError, "Missing the required parameter 'operation_id' when calling FbaInboundApi.get_inbound_operation_status"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/operations/{operationId}'.sub('{' + 'operationId' + '}', operation_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InboundOperationStatus' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_inbound_operation_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Fetches the top level information about an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [InboundPlan]
    def get_inbound_plan(inbound_plan_id, opts = {})
      data, _status_code, _headers = get_inbound_plan_with_http_info(inbound_plan_id, opts)
      data
    end

    # Fetches the top level information about an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InboundPlan, Integer, Hash)>] InboundPlan data, response status code and response headers
    def get_inbound_plan_with_http_info(inbound_plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_inbound_plan ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.get_inbound_plan"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InboundPlan' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_inbound_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves a list of available self-ship appointment slots used to drop off a shipment at a warehouse. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of self ship appointment slots to return in the response matching the given query. (default to 10)
    # @option opts [String] :pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.
    # @return [GetSelfShipAppointmentSlotsResponse]
    def get_self_ship_appointment_slots(inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = get_self_ship_appointment_slots_with_http_info(inbound_plan_id, shipment_id, opts)
      data
    end

    # Retrieves a list of available self-ship appointment slots used to drop off a shipment at a warehouse. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api). 
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of self ship appointment slots to return in the response matching the given query.
    # @option opts [String] :pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.
    # @return [Array<(GetSelfShipAppointmentSlotsResponse, Integer, Hash)>] GetSelfShipAppointmentSlotsResponse data, response status code and response headers
    def get_self_ship_appointment_slots_with_http_info(inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_self_ship_appointment_slots ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.get_self_ship_appointment_slots"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.get_self_ship_appointment_slots"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentSlots'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'paginationToken'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GetSelfShipAppointmentSlotsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_self_ship_appointment_slots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Provides the full details for a specific shipment within an inbound plan. The `transportationOptionId` inside `acceptedTransportationSelection` can be used to retrieve the transportation details for the shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Shipment]
    def get_shipment(inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = get_shipment_with_http_info(inbound_plan_id, shipment_id, opts)
      data
    end

    # Provides the full details for a specific shipment within an inbound plan. The &#x60;transportationOptionId&#x60; inside &#x60;acceptedTransportationSelection&#x60; can be used to retrieve the transportation details for the shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 6 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Shipment, Integer, Hash)>] Shipment data, response status code and response headers
    def get_shipment_with_http_info(inbound_plan_id, shipment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_shipment ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.get_shipment"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.get_shipment"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Shipment' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieve a shipment content update preview which provides a summary of the requested shipment content changes along with the transportation cost implications of the change that can only be confirmed prior to the expiry date specified.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param content_update_preview_id Identifier of a content update preview.
    # @param [Hash] opts the optional parameters
    # @return [ContentUpdatePreview]
    def get_shipment_content_update_preview(inbound_plan_id, shipment_id, content_update_preview_id, opts = {})
      data, _status_code, _headers = get_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, opts)
      data
    end

    # Retrieve a shipment content update preview which provides a summary of the requested shipment content changes along with the transportation cost implications of the change that can only be confirmed prior to the expiry date specified.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id Identifier of a shipment. A shipment contains the boxes and units being inbounded.
    # @param content_update_preview_id Identifier of a content update preview.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContentUpdatePreview, Integer, Hash)>] ContentUpdatePreview data, response status code and response headers
    def get_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FbaInboundApi.get_shipment_content_update_preview ...'
      end
      # verify the required parameter 'inbound_plan_id' is set
      if @api_client.config.client_side_validation && inbound_plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'inbound_plan_id' when calling FbaInboundApi.get_shipment_content_update_preview"
      end
      # verify the required parameter 'shipment_id' is set
      if @api_client.config.client_side_validation && shipment_id.nil?
        fail ArgumentError, "Missing the required parameter 'shipment_id' when calling FbaInboundApi.get_shipment_content_update_preview"
      end
      # verify the required parameter 'content_update_preview_id' is set
      if @api_client.config.client_side_validation && content_update_preview_id.nil?
        fail ArgumentError, "Missing the required parameter 'content_update_preview_id' when calling FbaInboundApi.get_shipment_content_update_preview"
      end
      # resource path
      local_var_path = '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews/{contentUpdatePreviewId}'.sub('{' + 'inboundPlanId' + '}', inbound_plan_id.to_s).sub('{' + 'shipmentId' + '}', shipment_id.to_s).sub('{' + 'contentUpdatePreviewId' + '}', content_update_preview_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ContentUpdatePreview' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FbaInboundApi#get_shipment_content_update_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves all delivery window options for a shipment. Delivery window options must first be generated by the `generateDeliveryWindowOptions` operation before becoming available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
    # @param inbound_plan_id Identifier of an inbound plan.
    # @param shipment_id The shipment to get delivery window options for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of delivery window options to return in the response matching the given query. (default to 10)
    # @option opts [String] :pagination_token A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the &#x60;pagination&#x60; returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.
    # @return [ListDeliveryWindowOptionsResponse]
    def list_delivery_window_options(inbound_plan_id, shipment_id, opts = {})
      data, _status_code, _headers = list_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, opts)
      data
    end

[...]
